$num: 2;
$start: 100;

@function double($size) {
  @return $size * $num;
}
@for $i from 1 through 5 {
  $width: $start * pow($num, $i - 1);
  $height: double($width);

  .box-#{$width} {
    width: #{$width}px;
    height: #{$height}px;
  }
}
