:root {
  color: #eee;
  color: #ddd;
  color: #a52a2a;
  color: #f44336;
  color: #e91e63;
  color: #de3163;
  color: #673ab7;
  color: #8a2be2;
  color: #135caf;
  color: #197beb;
  color: #03a9f4;
  color: #2196f3;
  color: #404040;
  color: #795548;
  color: #0e6655;
  color: #4caf50;
  color: #8bc34a;
  color: #009688;
  color: #607d8b;
  color: #ff9800;
}
