:root {
  --dark-color: #192b3f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--dark-color);
  background-color: var(--red-color);
}

.main-title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: var(--green-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  background-color: var(--dark-color);
  box-shadow: 0px 0px 5px #eee;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
  background-color: #33d1cc09;
}
.navbar .search {
  cursor: pointer;
  border-left: 1xp solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}

.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}

.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px var(--green-color);
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #33d1ccb4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.2rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}

.stuff .description {
  max-width: 400px;
}

.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background-color: var(--green-color);
}

.project {
  background-color: var(--dark-color);
}

.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe input[type="text"]::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
.subscribe input[type="submit"]:hover {
  color: white;
}

.footer {
  background-color: var(--dark-color);
}
.footer ul li {
  cursor: pointer;
}
.footer ul li:hover {
  color: white;
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.footer .contact ul li {
  transition: 0.3s;
}
.footer .contact ul li:hover {
  transform: translateY(-10px);
}
.footer .contact ul svg {
  width: 25px;
  height: 25px;
}
.footer .contact .social svg.facebook {
  background-color: #1877f2;
}
.footer .contact .social svg.twitter {
  background-color: #1da1f2;
}
.footer .contact .social svg.linkedin {
  background-color: #0a66c2;
}
.footer .contact .social svg.youtube {
  background-color: #ff0000;
}
