.element-1 {
  display: inline-block;
  background-color: lightgrey;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border-left: 5px rgb(230, 50, 100) solid;
  outline-width: 10px;
  outline-color: lightgray;
  outline-style: solid;
}
.element-2 {
  display: inline-block;
  background-color: lightgray;
  width: 400px;
  padding: 10px;
  margin: 10px;
  outline-width: 10px;
  outline-color: lightgray;
  outline-style: solid;
  visibility: hidden;
}
.element-3 {
  display: inline-block;
  background-color: rgb(211, 211, 211);
  width: 400px;
  padding: 10px;
  margin: 10px;
  border-left: 5px rgba(1, 111, 71, 0.724) solid;
  outline-width: 10px;
  outline-color: rgb(211, 211, 211);
  outline-style: solid;
}
