body {
  text-align: center;
}
a {
  background-color: rgb(1, 140, 140);
  color: white;
  padding: 5px 15px;
  border-bottom: 5px solid rgb(0, 78, 78);
  text-decoration: none;
  text-transform: capitalize;
}
